.admin-panel{
  .label{
    &.custom{
      border-radius: 0px;
      padding: 5px 10px;
      font-size: 0.9em;
      font-weight: 300;
    }
  }
  .navbar-admin{
    .navbar-nav{
      li{
        a{
          &.active{
            background: $site-color-light;
            color: #ffffff;
          }
          &:hover{
            background: $grey-text;
            color: #ffffff;
          }
        }
      }
    }
  }
  .actions{
    padding: 0px 3px;
    .view{
      color: $site-color;
    }
    .edit{
      color: $gold;
    }
    .delete{
      color: $red;
    }
  }
    .edit, .new{
      .title {
        padding-left: 8px;
        h1 {
          font-size: 1.5em;
          color: $site-color;
          font-weight: 300;
        }
      }
      form{
        .control-label{
          text-align: left;
          font-weight: 300;
          font-size: 1.2em;
        }
        .form-group{
          margin-bottom: -35px;
          input[type="text"], input[type="email"], input[type="password"], select{
            border-radius: 0px;
            min-height: 40px;
            box-shadow: none;
            &:active, &:focus{
              border: 1px solid $site-color-light;
              background: $grey-extra-light;
            }
            &:disabled{
              background: $grey-light;
              color: $red;
            }
          }
          &.required, &.field-profileeditform-company_name, &.field-profileeditform-company_city,
          &.field-profileeditform-company_phone, &.field-usereditform-company_name,
          &.field-usereditform-company_city{
            label{
              &:after{
                content: '  *';
                color: $red;
              }
            }
          }
          &.buttons-action{
            margin-bottom: 0px;
          }
          [type="radio"]{
            margin-left: 10px;
            position: relative;
            top: 4px;
          }
          [type="radio"]{
            margin-left: 10px;
            position: relative;
            top: 4px;
          }
        }
        .bootstrap-switch{
          position: relative;
          right: -30px;
          top: -13px;
        }
        button{
          border-radius: 0px;
        }
        a{
          border-radius: 0px;
        }
      }
    }
  .actions-header{
    a{
      border-radius: 0px;
    }
  }
  .glyphicon-ok{
    color: $green;
  }
  .glyphicon-remove{
    color: $red;
  }
  .emails{
    [type="checkbox"]{
      margin-right: 10px;
      position: relative;
      top: 1px;
    }
  }
}