.flight-wrapper{
  box-shadow: $grey-shadow-tour-list;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  &:nth-of-type(1){
    margin-top: 5px;
  }
  &.padding{
    padding-left: 0px;
    padding-bottom: 5px;
  }
  .header{
    text-align: right;
    font-size: 0.8em;
    padding-right: 0px;
    .count{

    }
    .created{
      margin-left: 10px;
      font-weight: 300;
    }
    .response{
      margin-left: 22px;
      .glyphicon-ok-circle{
        color: $green;
        font-size: 1.4em;
        position: relative;
        top: 3px;
      }
      .view-count{font-weight: 300;}
    }
  }
  .body{
    padding-left: 0px;
    .describe{
      font-weight: 300;
    }
    .value{
      font-weight: 600;
      font-size: 0.9em;
    }
    div{
      padding-right: 0px;
    }
    .central{
      border-left: 2px solid $grey;
    }
  }
  .buttons{
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    a{
      border-radius: 0px;
      &.btn-primary{
        @include linear-gradient-three(top, bottom, $site-color, $site-color-extra-light, $site-color);
      }
    }
    .cost{
      font-size: 1.2em;
      color: $cost;
      font-weight: 600;
      min-width: 100px;
    }
  }
}

.user-flight-full-info{
  .header{
    padding: 0px;
    border-bottom: $light-grey-border;
  }
  .body{
    padding: 0px;
    text-align: left;
    margin-top: 15px;
    .describe{
      font-weight: 300;
    }
    .value{
      font-weight: 600;
    }
  }
  .buttons {
    padding-left: 0px;
    .close-flight-full-info {
      border-radius: 0px;
      width: 100%;
    }
  }
}

.full-flight{
  .flight-info{
    box-shadow: $grey-shadow;
    border: 1px solid $grey-light;
    .header {
      text-align: center;
      font-weight: 300;
      .number{
        color: $grey-text;
      }
      .created {
        font-size: 1.2em;
      }
    }
    .title{
      text-align: center;
      border-bottom: 1px solid $grey-border;
    }
    .number{
      font-size: 1.2em;
    }
    .group-field{
      margin-bottom: 30px;
      .field {
        color: $grey-dark;
        font-weight: 300;
      }
      .value {
        font-weight: 600;
        color: $grey-dark;
        font-size: 1.2em;
        margin-top: 2px;
      }
    }
  }
}