.hotel-list-wrap{
  padding-left: 10px;
  padding-bottom: 5px;
  border: $border-wrapper-in-list;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  .hotel-title{
    .name{
      display: block;
      font-size: 1.2em;
      font-weight: 300;
      color: $site-color-light;
      cursor: pointer;
      &:hover{
        color: $site-color;
      }
    }
    .star{
      display: block;
      color: $gold;
      .glyphicon-star-empty{
        color: $grey-text;
      }
    }
  }
  .hotel-body{
    .images{
      overflow: hidden;
      padding-right: 0px;
      .hotel-img, .empty-img{
        padding: 0;
        margin: 0;
        display: inline-block;
        width: 80px;
        height: 65px;
      }
      .empty-img{
        text-align: left;
        color: $grey-light;
        .glyphicon-camera{
          font-size: 4em;
        }
      }
    }
    .information {
      padding: 0;
      .info {
        padding: 0;
        .rate, .country, .city {
          display: block;
        }
        .rate {
          .status{
            font-weight: 300;
            font-size: 0.8em;
          }
          .number {
            font-size: 1.1em;
            font-weight: 600;
            margin-left: 10px;
          }
        }
      }
      .buttons {
        padding-left: 15px;
        .btn{
          border-radius: 0px;
          padding: 4px 10px;
          margin-bottom: 2px;
          &.more-hotel-info{
            //width: 100%;
          }
          &.add-to-filter{
            border: 1px solid transparent;
            width: 100%;
          }
          &.btn-primary{
            &:nth-of-type(2){
              margin-top: 3px;
            }
            width: 100px;
            @include linear-gradient-three(top, bottom, $site-color, $site-color-extra-light, $site-color);
          }
        }
      }
    }
  }
}
#user-tour-response{
  .buttons{
    .more-hotel-info{
      //width: 100%;
    }
  }
}

.full-hotel-information{
  transition: all $middle-speed ease-in;
  &.close-tab{
    opacity: 0;
    visibility: hidden;
  }
  &.open-tab{
    opacity: 1;
    visibility: visible;
  }
}

//ajax hotel full information
.hotel-full-info{
  transition: all $middle-speed ease-in;
  .header-info{
    .left {
      .hotel-name {
        color: $site-color-light;
        font-size: 1.4em;
        margin-left: 12px;
      }
      .stars {
        position: absolute;
        margin-top: 2px;
        font-size: 1.4em;
        right: 18px;
        .glyphicon-star {
          color: $gold;
        }
        .glyphicon-star-empty {
          color: $grey-text;
        }
      }
    }
    .right{
      font-size: 1.4em;
      padding: 5px 28px 0px;
      .rate-field{
        font-weight: 300;
      }
      .rate-value{
        font-weight: 600;
        color: $green;
        top: 2px;
        position: relative;
      }
    }
    .progress{
      background: $grey-light;
    }
  }
  .main-content{
    .hotel-images{
      padding: 0px;
      .big-photo{
        width: 350px;
      }
      .empty-img{
        color: $grey;
        font-size: 7em;
        display: block;
        margin: auto;
      }
      #map-canvas{
        width: 100%;
        height: 200px;
        max-width: 350px;
        max-height: 400px;
        border: $light-grey-border;
      }
      #gallery-widget{
        margin: 15px 0px;
        .gallery-item{
          margin-right: -2px;
          img{
            width: 49px;
            height: 40px;
            display: inline-block;
            padding: 1px;
            &:hover{
              border: 1px solid $blue-shadow-color;
              padding: 0px;
            }
          }
        }
      }
    }
    .hotel-description{
      padding: 0px;
      text-align: justify;
      font-size: 0.95em;
      font-weight: 300;
      .field {
        color: $grey-text;
        font-size: 0.85em;
      }
      .value {
        font-weight: 600;
        color: $grey-dark;
        font-size: 1em;
        position: absolute;
        right: 0px;
        margin-top: 0px;
      }
    }
    .hotel-facilities{
      list-style: none;
      padding: 0px;
      li{
        margin-bottom: 5px;
        border-bottom: $light-grey-border;
        .glyphicon-tag{
          margin-right: 10px;
          color: $green;
        }
        .hint{
          font-size: 0.85em;
          color: $grey-text;
        }
      }
    }
    .nav-tabs-hotel{
      li{
        padding: 0px;
        a{
          color: $grey-text;
        }
        &.active{
          a {
            background: $grey-light;
            color: #000000;
          }
        }
      }
    }
    #testimonials {
      overflow-y: auto;
      max-height: 650px;
      .testimonial {
        margin-bottom: 15px;
        border: $light-grey-border;
        .header {
          background: $grey;
          margin-left: 0px;
          .date {
            color: #ffffff;
            float: right;
          }
        }
        .body {
          font-size: 0.95em;
          line-height: 16px;
          text-align: justify;
        }
      }
    }

    .hotel-facilities{
      list-style: none;
      padding: 0px;
      li{
        margin-bottom: 5px;
        border-bottom: $light-grey-border;
        .glyphicon-tag{
          margin-right: 10px;
          color: $green;
        }
        .hint{
          font-size: 0.85em;
          color: $grey-text;
        }
      }
    }
  }
}

.top-hotels{
  .main-title{
    padding: 0px;
    font-weight: 600;
    border-bottom: 1px solid $grey;
  }
  padding: 0px;
  .hotel-top-wrapper{
    border-bottom: 1px solid $grey;
    margin-bottom: 10px;
    text-align: left;
    padding-bottom: 10px;
    .name{
      font-size: 1.2em;
      padding: 0px;
    }
    .left{
      padding-left: 0px;
      .stars{
        .glyphicon-star {
          color: $gold;
        }
        .glyphicon-star-empty{
          color: $grey-text;
        }
      }
      .photo{
        text-align: center;
        .empty-img{
          font-size: 3em;
        }
        img{
          width: 100px;
          height: 80px;
        }
      }
    }
    .right{
      padding: 0px;
      .country{
        font-size: 0.9em;
        color: $grey-dark;
      }
      .city{
        font-size: 0.9em;
        color: $grey-dark;
      }
      .rate{
        font-size: 1em;
        font-size: $grey-dark;
      }
      a{
        border-radius: 0px;
        margin-top: 10px;
        height: 25px;
        line-height: 12px;
        font-size: 1em;
        &.btn-primary{
          @include linear-gradient-three(top, bottom, $site-color, $site-color-extra-light, $site-color);
        }
      }
    }
  }
}