//color variable
$site-color: #0D386D;
$site-color-hover: #0d1f3f;
$site-color-light: rgb(56, 85, 224);
$site-color-extra-light: rgb(108, 163, 200);
$grey: #b1b1b1;
$grey-light: #E6E6E6;
$grey-extra-light: #f0f0f0;
$grey-dark: #3c3c3c;
$grey-text: rgb(147, 146, 146);
$grey-light-text: rgb(165, 164, 164);
$red: #a94442;
$green: #5cb85c;
$green-light: #7cec7c;
$yellow-light: #ffe577;
$yellow-dirty: #edd98b;
$yellow-dirty-hover: #bba76b;
$gold: #ffda0c;
$milk: rgba(255, 255, 255, 0.3);
$yellow-top: #c5f498;

//borders
$grey-border: #bfbebe;
$light-grey-border: 1px solid #DAD9D9;
$nav-light-grey-border: 0px 2px 4px -1px #bfbebe;
$border-wrapper-in-list: 2px solid $grey;

//shadows
$grey-shadow: 2px 5px 7px rgba(203, 203, 203, 0.5);
$dark-text-shadow: 1px 1px rgb(73, 72, 72);
$blue-shadow-color: rgb(33, 33, 153);

//opacity-colors
$opacity-small: rgba(255, 255, 255, 0.70);
$opacity-middle: rgba(255, 255, 255, 0.50);
$opacity-big: rgba(255, 255, 255, 0.30);

//sizes
$max-hotel-height: 550px;

//speed
$slow-speed: 1.5s;
$middle-speed: 1s;
$fast-speed: 0.5s;

//mixins
@mixin linear-gradient-three($direction, $direction-webkit, $color-one, $color-two, $color-three) {
  background: -webkit-linear-gradient($direction-webkit, $color-one , $color-two, $color-three); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($direction, $color-one , $color-two, $color-three); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($direction, $color-one , $color-two, $color-three); /* For Firefox 3.6 to 15 */
}

//import files
@import "auth";
@import "tabs";
@import "hotel";
@import "popup";
@import "tour";
@import "flight";
@import "stat";
@import "profile";
@import "admin";
@import "pages";

//fonts
//@import url(//fonts.googleapis.com/css?family=Exo+2:400,300,700&subset=latin,cyrillic);
body {
  .container{
    width: 1170px;
  }
  .row{

  }
  font-family: 'Arial';
  #header-navbar {
    background: transparent;
    border-bottom: none;
    color: #ffffff;
    &.welcome{
      background: $site-color;
    }

    &.to-top{
      position: relative;
      top: 0;
      background: $opacity-big;
      #header-navbar-collapse li.active a{
        background: transparent;
      }
      .site-registration, .site-login{
        top: -60px;
      }
      li{
        a{
          text-shadow: 1px 1px $grey-dark;
        }
      }
    }
    #header-navbar-collapse{
      padding: 15px;
    }
    .container{
      background: $site-color;
    }
    .navbar-header {
      .navbar-brand {
        color: #ffffff;
        margin-top: 11px;
        margin-bottom: -12px;
        &:hover {
          color: $grey-text;
        }
        img{
          position: relative;
          top: -29px;
          max-width: 80%;
        }
      }
      button {
        &:active, &:focus {
          background: transparent;
        }
        border: none;
        &:hover {
          background: transparent;
          .icon-bar {
            background: $site-color;
          }
        }
        .icon-bar {
          width: 24px;
          height: 4px;
          background: $grey;
        }
      }
    }

    .custom-header {
      margin-right: 0px;
      li {
        &:first-child{
          a {
            font-weight: 600;
            font-size: 1.4em;
            margin-left: -35%;
            color: #ffffff;
            &:hover{
              color: #ffffff;
            }
          }
        }
        a {
          padding: 0px 35px;
          margin-top: 11px;
          margin-bottom: -12px;
          font-size: 1.2em;
          color: #ffffff;
          &:hover {
            color: $grey-light;
          }
        }
        &.active {
          border-bottom: 3px solid $site-color-hover;
          a {
            background: $site-color-light;
            color: white;
            &:hover {
              color: $site-color-hover;
            }
          }
        }
        &.dropdown{
          a{
            outline: none;
            background: transparent;
            color: #bfbfbf;
            text-align: center;
            span{
              //margin: auto;
              //d1isplay: block;
            }
            .caret{
              margin-top: -20px;
              position: relative;
            }
            &:hover{
              color: $site-color-hover;
            }
            &.dropdown-toggle{
              margin-top: 0px;
              &:hover{
                color: #ffffff;
              }
              img{
                width: 20px;
                position: relative;
                right: 7px;
                bottom: 2px;
              }
            }
          }
          .dropdown-menu{
            text-align: left;
            margin-top: 20px;
            padding-bottom: 0px;
            li{
              border-bottom: 1px solid $grey-light;
              &:first-child{
                margin-top: -5px;
              }
              a {
                font-weight: 300;
                font-size: 1em;
                margin-left: 0px;
                padding: 20px 20px;
                text-align: left;
                margin-top: -9px;
                margin-bottom: -9px;
                color: $grey-dark;
                &:hover{
                  color: $site-color-hover;
                }
              }
            }
          }
        }
      }
    }

  }

  .footer{
    background: transparent;
    &.welcome{
      background: $site-color;
      color: #ffffff;
    }
    .container{
      color: #000000;
    }
  }

  .container{
    &.to-top{
      margin-top: -60px;
      width: 100%;
      min-height: 800px;
      background: url("/images/default-page.jpg");
      background-size: cover;
      .site-login, .site-registration{
        margin-top: 100px;
        .switch-link{
          margin-left: 10px;
          color: $site-color;
          text-shadow: 1px 1px 1px 1px $site-color;
          &:hover{
            color: $site-color-hover;
          }
        }
      }
    }
    &.welcome{
      width: 100%;
      min-height: 800px;
      background: url("/images/default-page.jpg");
      background-size: cover;
      text-align: center;
      .text {
        color: #ffffff;
        margin-top: 150px;
        text-shadow: 1px 1px black;
        div {
          &.big {
            font-size: 2em;
            margin-bottom: 30px;
            line-height: 20px;
          }
          &.small {
            font-size: 1.2em;
            font-weight: 300;
            line-height: 10px;
          }
        }
      }
    }
  }

  #ui-datepicker-div{
    width: 100%;
    max-width: 240px;
    border-radius: 4px;
    background: #ffffff;
    z-index: 1000;
    &.ui-widget-content{
      border: 1px solid #aaaaaa;
      background: #ffffff;
      color: #222222;
      .ui-widget-header{
        border: 1px solid #aaaaaa;
        background: #cccccc;
        color: #222222;
        font-weight: bold;
        .ui-datepicker-title{
          margin: 0 2.3em;
          line-height: 1.8em;
          text-align: center;
        }
      }
      .ui-datepicker-calendar{
          width: 100%;
          font-size: .9em;
          border-collapse: collapse;
          margin: 0 0 .4em;
          thead{
            display: table-header-group;
            vertical-align: middle;
            border-color: inherit;
            th{
              padding: .7em .3em;
              text-align: center;
              font-weight: bold;
              border: 0;
            }
          }
          tbody{
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
            tr{
              display: table-row;
              vertical-align: inherit;
              border-color: inherit;
              td{
                border: 0;
                padding: 1px;
                .ui-state-default{
                  border: 1px solid #d3d3d3;
                  background: #e6e6e6;
                  font-weight: normal;
                  color: #555555;
                  &.ui-state-highlight{
                    border: 1px solid #fcefa1;
                    background: #fbf9ee;
                    color: #363636;
                  }
                }
                a{
                  display: block;
                  padding: .2em;
                  text-align: right;
                  text-decoration: none;
                }
              }
            }
          }
      }
    }
  }

  #preview{
    &.tooltip-image{
      position: absolute;
      img{
        max-width: 75%;
        min-width: 400px;
        height: auto;
      }
    }
  }
  .flash{
    &.success{
      color: $green;
      font-size: 1.2em;
      font-weight: 600;
      padding: 15px;
      background: $green-light;
    }
  }
  .site-contact{
    h1, p{
      padding: 0px;
    }
    h1{
      color: $site-color;
      font-weight: 300;
    }
    a{
      border-radius: 0px;
    }
  }
  .static-page {
    form {
      .form-group {
        margin-bottom: -35px;
        .control-label {
          text-align: left;
          font-weight: 300;
          font-size: 1.2em;
        }
        input[type="text"], input[type="email"], input[type="password"], select {
          border-radius: 0px;
          min-height: 40px;
          box-shadow: none;
          &:active, &:focus {
            border: 1px solid $site-color-light;
            background: $grey-extra-light;
          }
          &:disabled {
            background: $grey-light;
            color: $red;
          }
        }
        &.required {
          label {
            &:after {
              content: '  *';
              color: $red;
            }
          }
        }
        &.buttons-action {
          margin-bottom: 0px;

          button {
            border-radius: 0px;
          }
          a {
            border-radius: 0px;
          }
        }
        [type="radio"] {
          margin-left: 10px;
          position: relative;
          top: 4px;
        }
        [type="radio"] {
          margin-left: 10px;
          position: relative;
          top: 4px;
        }
      }
      .bootstrap-switch {
        position: relative;
        right: -30px;
        top: -13px;
      }
    }
  }
  .loader-bg {
    position: fixed;
    z-index: 10;
    background: $milk;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    //min-height: $max-hotel-height;
    img {
      position: absolute;
      width: 34px;
      height: 34px;
      left: 50%;
      top: 50%;
      margin-left: -17px;
      margin-top: -17px;
    }
  }

  .stoputei-icon{
    display: inline-block;
    width: 45px;
    height: 45px;
    background-image: url("/images/hotel-icons.png");
    &.parking{
      background-position: -5px -6px;
    }
    &.nutrition{
      background-position: -5px -65px;
    }
    &.beach{
      background-position: -5px -126px;
    }
    &.on_water{
      background-position: -5px -191px;
    }
    &.business{
      background-position: -5px -254px;
    }
    &.relaxation{
      background-position: -5px -729px;
    }
    &.for_child{
      background-position: -5px -580px;
    }
    &.sport{
      background-position: -5px -796px;
    }
    &.in_room{
      background-position: -5px -860px;
    }
    &.cleaning_clothes{
      background-position: -5px -926px;
    }
    &.auto{
      background-position: -5px -1047px;
    }
    &.spa{
      background-position: -5px -1111px;
    }
    &.smoke{
      background-position: -5px -1295px;
    }
    &.internet{
      background-position: -5px -1354px;
    }
    &.special_room{
      background-position: -5px -1232px;
    }
    &.other{
      background-position: -5px -324px;
    }
  }
  .license-top{
    color: $yellow-top;
  }
}