#control-tabs{
  .nav-tabs{
    box-shadow: $nav-light-grey-border;
    li{
      width: 15%;
      a{
        text-align: center;
        font-size: 1.2em;
        color: $grey-light-text;
        border-radius: 0;
      }
      &.active{
        a{
          color: $grey-dark;
          font-weight: 600;
          background: $grey-light;
        }
        .tab-badge{
          opacity: 1;
          top: -6px;
          right: -8px;
        }
      }
      .tab-badge{
        opacity: 0.25;
        position: absolute;
        top: 4px;
        right: 6px;
        background: $red;
        z-index: 100;
      }
    }
    &.manager{
      li{
        width: 20%;
      }
    }
  }
  .tab-content{
    overflow: hidden;
  }
  .overflow-list{
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      border-radius: 0px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
      background: $grey-light;
    }
    transition: all $middle-speed ease-in;
  }
  .filter-tour, .filter-flights, .manager-offers, .manager-hot-tours, .user-hot-tours, .user-favourite-tours {
    .back-to-main{
      visibility: hidden;
      width: 30px;
      height: 100px;
      position: absolute;
      top: 100px;
      background: $site-color-light;
      left: -15px;
      z-index: 100;
      vertical-align: middle;
      line-height: 110px;
      color: white;
      box-shadow: 2px 0px 2px 0px $blue-shadow-color;
      cursor: pointer;
      &:hover{
        background: $site-color-hover;
      }
      &.open{
        visibility: visible;
      }
      .glyphicon{
        font-size: 2em;
      }
    }

    .main-tab-container {
      transition: all $middle-speed ease-in;
      &.implicit {
        margin-left: -5000px;
        visibility: hidden;
      }
      .left-data {
        padding: 0px;
        margin-left: -20px;
        transition: all $middle-speed ease-in;
        &.implicit {
          margin-left: -5000px;
          visibility: hidden;
        }
        .filter, .create-tour, .create-flight {
          &.inactive {
            &:after {
              content: '';
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              position: absolute;
              background: $opacity-middle;
              z-index: 100;
            }
            .wrapper-words {
              position: absolute;
              z-index: 999;
              width: 80%;
              margin-left: 26px;
              margin-top: 120px;
              font-size: 1.2em;
              text-align: center;
              font-weight: 600;
            }
          }
        }
        form {
          max-width: 240px;
          .form-group {
            margin-bottom: 0;
            input[type="text"], input[type="email"], input[type="password"], [type="submit"], select, [name="get-tour-button"], [type="number"], [name*="create-"], #gettourform-hotel_id {
              border-radius: 0px;
            }
            &.required {
              .control-label:after {
                content: ' *';
                color: $red;
              }
            }
            &.field-managerflightform-voyage_is_direct_from, &.field-managerflightform-voyage_is_direct_to {
              label {
                color: $grey-text;
              }
            }
          }
          .voyage_is_direct_from, .voyage_is_direct_to {
            background: $grey-light;
          }
          .field-gettourform-hotel, .create-tour-response, .field-touroffersform-hotel, .field-createhottourform-hotel, .field-manageroffersform-hotel, .field-managerhottourform-hotel, .field-userhottourform-hotel {
            .remove-hotel-name, .remove-hotel-name-manager, .remove-hotel-hot-tour, .remove-hotel-name-user-request,
            .remove-hotel-name-user-offer, .remove-hotel-manager-offers, .remove-hotel-manager-hot-tour, .remove-hotel-user-hot-tour{
              position: absolute;
              right: 20px;
              top: 9px;
              color: $grey-text;
              &:hover {
                color: $red;
              }
            }
          }
          #gettourform-hotel_id, #createtourform-hotel_id, #touroffersform-hotel_id, #createhottourform-hotel_id, #manageroffersform-hotel_id, #managerhottourform-hotel_id, #userhottourform-hotel_id {
            display: none;
            overflow-y: auto;
            max-height: 150px;
            height: 100%;
            z-index: 100;
            position: relative;
            top: -15px;
            option {
              padding: 7px 0px 7px 12px;
              margin: 0px;
              margin-left: -12px;
              margin-top: -6px;
              width: 120%;
              &:hover {
                background: $grey-light;
              }
            }
          }
          #gettourform-hotel_id, #createtourform-hotel_id, #touroffersform-hotel_id, #createhottourform-hotel_id {
            top: -8px;
          }
          .label-get-tour {
            text-align: left;
          }
          #gettourform-stars, #createtourform-stars, #touroffersform-stars, #createhottourform-stars {
            .star {
              position: absolute;
              margin-top: -4px;
              font-size: 1.4em;
              .glyphicon-star {
                color: $gold;
              }
              .glyphicon-star-empty {
                color: $grey-text;
              }
            }
          }
          .label-add-paymnet {
            margin-left: 7px;
            text-align: left;
          }
          .form-group {
            .checkbox-one {
              height: 25px;
              line-height: 25px;
              span {
                cursor: pointer;
                position: absolute;
                margin-left: 20px;
                font-size: 1em;
                margin-top: -2px;
                color: $grey-text;
              }
              &.not-any-check {
                .type-name, .line-name {
                  color: $gold;
                }
              }
              &.any-check {
                .type-name, .line-name {
                  color: $green;
                }
              }
            }
            .control-label {
              text-align: left;
            }
            &.field-gettourform-hotel_type, &.field-gettourform-beach_line,
            &.field-gettourform-stars, &.field-createhottourform-stars,
            &.field-createhottourform-beach_line, &.field-createhottourform-hotel_type {
              &.disabled {
                color: $grey-light-text;
              }
            }

            #from_date_hot_tour, #to_date_hot_tour {
              height: 36px;
              width: 100%;
              padding: 5px;
            }
          }
          .form-group {
            .checkbox-one {
              margin-left: -15px;
              &.type {
                margin-left: 0px;
              }
            }
          }
          #gettourform-night_min, #gettourform-night_max {
            max-width: 120px;
          }
          .field-gettourform-flight_included {
            .flight-label {
              position: relative;
              float: right;
              top: -18px;
            }
          }
          .flight-included {
            background: $grey-light;
          }
          .date {
            .input-group-addon, #gettourform-from_date {
              border-radius: 0px;
            }
          }
          .add-info {
            resize: vertical;
            width: 100%;
            min-height: 120px;
          }
          #create-tour-response {
            &.inactive {
              pointer-events: none;
            }
          }
        }
        .hotels-container, .user-tour-container, .flights-container, .manager-flight-container, .user-offer-list, .manager-hot-tour-container, .manager-offers {
          overflow-y: auto;
          transition: all $middle-speed ease-in;
          &::-webkit-scrollbar {
            width: 6px;
          }
          &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
            border-radius: 0px;
          }
          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
            background: $grey-light;
          }
          .loader-bg {
            position: fixed;
            z-index: 10;
            background: $milk;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            //min-height: $max-hotel-height;
            img {
              position: absolute;
              width: 130px;
              height: 130px;
              left: 50%;
              top: 50%;
              margin-left: -65px;
              margin-top: -65px;
            }
          }
        }
        [name="order-tour-list"]{
          max-width: 300px;
          display: block;
          width: 100%;
          height: 34px;
          padding: 6px 12px;
          font-size: 14px;
          line-height: 1.42857143;
          color: #555;
          background-color: #fff;
          background-image: none;
          border: 1px solid #ccc;
          border-radius: 0px;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
          -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
      }
      .right-data {
        transition: all $middle-speed ease-in;
        text-align: center;
      }
    }
  }
}