#user-tour-response, #user-tour-response-list, #manager-offers-response,
#manager-hot-tours-response, #user-hot-tours-response, #user-favourite-tours-response{
  .user-tour-wrapper{
    border-bottom: 1px solid $grey-light;
    margin-top: 5px;
    margin-bottom: 5px;
    &:nth-of-type(1){
      margin-top: 20px;
    }
    .header-info{
      padding: 0px;
      .count{
        font-size: 0.9em;
        color: $grey-light-text;
      }
      .created{
        margin-left: 10px;
        font-weight: 300;
      }
      .hotel-title{
        cursor: pointer;
        color: $site-color-light;
        &:hover{
          color: $site-color;
        }
      }
      .response{
        margin-left: 5px;
        .glyphicon-ok-circle{
          color: $green;
          font-size: 1.4em;
          position: relative;
          top: 3px;
        }
        .view-count{font-weight: 300;}
      }
      .hotel-rate{
        margin-left: 10px;
        color: $grey-text;
        font-weight: 300;
      }
      .hotel-star{
        position: absolute;
        left: 0px;
        top: 34px;
        .glyphicon-star-empty{
          color: $grey-text;
        }
        .glyphicon-star{
          color: $gold;
        }
      }
      .glyphicon-heart, .glyphicon-heart-empty{
        display: inline-block;
        position: absolute;
        top: 4px;
        left: -22px;
        font-size: 1.2em;
        color: $grey-light-text;
        &.favourite{
          color: red;
        }
      }
      .replace-loader{
        width: 20px;
        height: 20px;
        position: absolute;
        margin-left: -22px;
        &.remove-hot-tour{
          margin-left: 0px;
        }
      }
      .remove-hot-tour{
        position: absolute;
        right: -10px;
        color: $red;
        font-size: 1.2em;
      }
    }

    .body, .people{
      padding: 0px;
      .describe{
        font-weight: 300;
      }
      .data{
        font-weight: 600;
        font-size: 0.9em;
      }
      .hotel-photo{
        padding: 0px;
        margin-top: 10px;
        .hotel-img{
          width: 80px;
          height: 65px;
        }
      }
      .tour-info{
        padding-right: 0px;
        font-size: 0.8em;
      }
      &.offer{
        font-size: 0.8em;
      }
    }

    .buttons {
      padding-left: 0px;
      .btn{
        border-radius: 0px;
        padding: 4px 10px;
        margin-bottom: 2px;
      }
      .tour-cost{
        color: $yellow-dirty-hover;
        font-weight: 600;
      }
      .company-name{
        font-size: 0.8em;
        font-weight: 600;
      }
    }
    .empty-img-offer{
      display: block;
      margin: auto;
      font-size: 4em;
      text-align: center;
      color: $grey-light-text;
      margin-left: -25px;
    }

    //small column
    &.small-column{
      .header-info{
        .created{
          display: none;
        }
        .hotel-title{
          font-size: 0.9em;
          .hotel-rate{
            display: none;
          }
        }
      }
      .people{
        display: none;
      }
      .tour-info{
        display: none;
      }
      .body{
        .hotel-photo{
          width: 100%;
        }
      }
    }
  }
}

.user-tour-full-info{
  .header{
    padding: 0px;
    border-bottom: $light-grey-border;
  }
  .body{
    padding: 0px;
    text-align: left;
    margin-top: 15px;
    .describe{
      font-weight: 300;
    }
    .value{
      font-weight: 600;
      display: inline-block;
    }
  }
  .buttons {
    padding-left: 0px;
    .close-tour-full-info {
      border-radius: 0px;
      width: 100%;
    }
  }
}

.tour-full-info{
  .header{
    text-align: left;
    .offer-number{
      color: $grey-dark;
    }
    .created{
      color: $grey-text;
      font-size: 0.9em;
    }
  }
  .hotel-header{
    text-align: left;
    .name{
      font-size: 1.2em;
      font-weight: 300;
    }
    .rate{
      color: $green;
      font-weight: 600;
      right: 29px;
      position: absolute;
      top: 4px;
      font-size: 0.9em;
    }
    .stars{
      position: absolute;
      left: 14px;
      top: -6px;
      .glyphicon-star{
        color: $gold;
      }
      .glyphicon-star-empty{
        color: $grey-text;
      }
    }
  }
  .body-hotel{
    .big-photo{
      width: 100%;
      min-height: 250px;
    }
    #gallery-widget{
      margin: 15px 0px;
      .gallery-item{
        margin-right: -2px;
        img{
          width: 49px;
          height: 40px;
          display: inline-block;
          padding: 1px;
          &:hover{
            border: 1px solid $blue-shadow-color;
            padding: 0px;
          }
        }
      }
    }
    .description{
      text-align: left;
    }
    .nav-tabs-tour{
      li{
        padding: 0px;
        a{
          color: $grey-text;
        }
        &.active{
          a {
            background: $grey-light;
            color: #000000;
          }
        }
      }
    }
    #testimonials {
      overflow-y: scroll;
      max-height: 300px;
      .testimonial {
        margin-bottom: 15px;
        border: $light-grey-border;
        .header {
          background: $grey;
          .date {
            color: #ffffff;
            float: right;
          }
        }
        .body {
          font-size: 0.85em;
          line-height: 12px;
          text-align: justify;
        }
      }
    }

    .hotel-facilities{
      list-style: none;
      padding: 0px;
      li{
        margin-bottom: 5px;
        border-bottom: $light-grey-border;
        .glyphicon-tag{
          margin-right: 10px;
          color: $green;
        }
        .hint{
          font-size: 0.85em;
          color: $grey-text;
        }
      }
    }
  }
  .body-tour{
    #map-canvas{
      min-height: 250px;
    }
    .fields {
      padding: 0px;
      text-align: left;
      .field {
        color: $grey-text;
        font-size: 0.8em;
      }
      .value {
        font-weight: 600;
        color: $grey-dark;
        font-size: 0.9em;
        position: absolute;
        right: 0px;
        margin-top: 2px;
      }
      &.left{
        padding-right: 15px;
      }
      &.right{
        padding-left: 15px;
      }
      .company{
        .field, .value{
          display: inline-block;
          text-align: center;
        }
      }
    }
  }
}