#user-tour-response{
  .user-tour-wrapper{
    border-bottom: 1px solid $grey-light;
    margin-top: 5px;
    margin-bottom: 5px;

    .header-info{
      padding: 0px;
      .count{
        font-size: 0.9em;
        color: $grey-light-text;
      }
      .created{
        margin-left: 10px;
        font-weight: 300;
      }
    }

    .body, .people{
      padding: 0px;
      .describe{
        font-weight: 300;
      }
      .data{
        font-weight: 600;
        font-size: 0.9em;
      }
    }

    .buttons {
      padding-left: 0px;
      .btn{
        border-radius: 0px;
        padding: 4px 10px;
        margin-bottom: 2px;
      }
    }
  }
}

.user-tour-full-info{
  .header{
    padding: 0px;
    border-bottom: $light-grey-border;
  }
  .body{
    padding: 0px;
    text-align: left;
    margin-top: 15px;
    .describe{
      font-weight: 300;
    }
    .value{
      font-weight: 600;
    }
  }
  .buttons {
    padding-left: 0px;
    .close-tour-full-info {
      border-radius: 0px;
      width: 100%;
    }
  }
}